

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
    background-image: url('cloud.jpg');
    background-size: auto 75%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #87CEEB;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

#cityInput {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#weather {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 0;
    font-size: 1.5em;
}

p {
    margin: 5px 0;
}
